@font-face {
  font-family: 'Kanit';
  src: url('../../font/Kanit-Regular.ttf')
}


@font-face {
  font-family: 'th_thai';
  src: url('../../font/THSarabunNew.ttf');
  font-size: 200%;
}



a {
  text-decoration: none;
}