@page {
  size: "A4";
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 80px;
}


@media print {

  .btn_print,
  .none-print {
    display: none;
    padding: 0 !important;
    margin: 0 !important;
  }
}