[client-server]

!include /etc/mysql/conf.d/charset.cnf
!include /etc/mysql/conf.d/engine.cnf
!include /etc/mysql/conf.d/logging.cnf
!include /etc/mysql/conf.d/networking.cnf
!include /etc/mysql/conf.d/security.cnf
!include /etc/mysql/conf.d/slowlog.cnf
!include /etc/mysql/conf.d/tuning.cnf
!include /etc/mysql/conf.d/threadpools.cnf
